@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: sans-serif;
}



.swiper-slide{
 
  width: 600px;
}
#cardHover{
  

}

.sellbackground{
  
  background: linear-gradient(to left,  #151515 0%,rgba(21, 21, 21, 0) 100%); /* W3C */
}